@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  height: 5px !important;
  width: 5px !important;
}
::-webkit-scrollbar-thumb {
  background: #a7aab0 !important;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #ebe9e9 !important;
}
.btn-blue {
  background: #0858f7 !important;
  border-radius: 5px !important;
  border-radius: 8px !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}
.btn-lg {
  padding: 5px 20px !important;
}
.btn-round {
  border-radius: 30px !important;
}
.btn-big {
  font-size: 16px !important;
    padding: 10px 25px !important;
}
header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* dark theme */
body.dark {
  background: #071739 !important;
}
body.dark {
  color: #ffffffb3;
}
body.dark header {
  background: #112143 !important;
}
body.dark header button.rounded-circle {
  background: #112755 !important;
}
body.dark header button.rounded-circle svg {
  color: #fff !important;
}
body.dark .searchBox {
  background: #12254e !important;
}
body.dark .searchBox input,
body.dark .searchBox input::-webkit-input-placeholder,
body.dark .searchBox svg {
  color: #fffc !important;
}

body.dark .myAcc .userInfo * {
  color: #fffc !important;
}
body.dark .main .sidebarWrapper .sidebar {
  background: #112143 !important;
}
body.dark .main .sidebarWrapper .sidebar ul li button.active {
  background: #ffffff1a !important;
}
body.dark .main .sidebarWrapper .sidebar ul li button {
  color: #fffc !important;
}
body.dark .card {
  background: #1b2b4d !important;
  border: 1px solid #10214b !important;
}
body.dark .card .hd {
  color: #fffc;
  font-size: 18px;
  font-weight: 700;
}
body.dark .MuiPaper-elevation {
  background-color: #12254e !important;
}
body.dark .dropdown_list li.MuiButtonBase-root {
  background-color: #12254e !important;
  background: #12254e !important;
}
body.dark .MuiPaper-elevation li,
body.dark .MuiPaper-elevation li * {
  color: #fffc !important;
}

body.dark .cardFilters .col-md-3 h4 {
  color: #fffc;
}
body.dark .MuiInputBase-root,
body.dark .MuiSvgIcon-root,
body.dark .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p {
  color: #fffc !important;
}
body.dark .MuiOutlinedInput-notchedOutline {
  border-color: #fff6 !important;
}
body.dark table td {
  color: #ffffff80 !important;
}
body.dark .breadcrumbs_ a * {
  color: #ffffffb3 !important;
}
body.dark .breadcrumbs_ li .MuiChip-filled,
body.dark .css-1wuw8dw-MuiBreadcrumbs-separator {
  background-color: #112143 !important;
  color: #ffffffb3 !important;
}
body.dark .form .form-group input,
body.dark .form .form-group textarea {
  background: #2b3c5f !important;
  border: 1px solid #253557 !important;
  color: #fffc !important;
}
body.dark .imgUploadBox .uploadBox {
  background: #2b3c5f !important;
  border: 1px dashed #fff3 !important;
}
body.dark .imgUploadBox .uploadBox * {
  color: #ffffffb3 !important;
}

body.light .productDetailsSection .productInfo .name {
  color: #5e5d72 !important;
}
body.light .productDetailsSection .productInfo .icon svg {
  color: #5e5d72 !important;
}
body.light .tags li span {
  background: #d8d8d8 !important;
  color: #000 !important;
  padding: 4px 10px !important;
}
body.light p {
  font-weight: 400 !important;
}
body.light .ratingSection .ratingrow .progress {
  background: #ccc !important;
}
body.light .reviewsSection .reviewsRow {
  background: #ededed !important;
}
body.light .reviewForm textarea {
  background: #f4f4f4 !important;
  border: 1px solid #dbdbdb !important;
  color: #000c !important;
}
/*  */
.table-bordered th,
body.dark .table-bordered td {
  border: 1px solid #ffffff1a !important;
}
.MuiRating-root * {
  color: #faaf00 !important;
}
.logo {
  width: 70%;
  text-decoration: none;
}

header button.rounded-circle {
  background: #f0f5ff !important;
  color: #0858f7;
  height: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}
header button.rounded-circle svg {
  color: #292929;
  font-size: 18px !important;
  transition: all 0.2s ease-in-out;
}
header button.rounded-circle:hover svg {
  color: #0858f7 !important;
  transition: all 0.3s ease-in-out;
}

header .part2 {
  padding-left: 50px;
}

.searchBox {
  background: #f0f5ff;
  border-radius: 6px;
  height: 40px;
  padding: 3px 15px;
  width: 500px;
}
.searchBox svg {
  color: #292929;
  font-size: 18px;
}
.searchBox input {
  background: #0000;
  border: 0;
  color: #292929;
  font-size: 14px;
  outline: none;
  padding-left: 0;
}
.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.myAcc {
  color: #0858f7 !important;
  text-align: left !important;
  text-transform: capitalize !important;
}
.userImg {
  border: 1px solid #0858f7;
  border-radius: 100%;
  height: 40px;
  padding: 2px;
  width: 40px;
}
.userImg,
.userImg .rounded-circle {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.userImg .rounded-circle {
  cursor: pointer;
  height: 100% px;
  position: relative;
  width: 100% px;
}
.userImg .rounded-circle img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.myAcc .userInfo {
  padding-left: 10px;
}
.myAcc .userInfo h4 {
  color: #292929;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 0;
}
.myAcc .userInfo p {
  color: #000;
  font-size: 12px;
  margin-top: 0;
  opacity: 0.7;
}
#account-menu li {
  font-size: 18px !important;
  padding: 12px 15px !important;
}
#account-menu li svg {
  font-size: 20px !important;
}
#notifications-menu .MuiPaper-elevation {
  top: 60px !important;
  left: 70% !important;
  width: 300px !important;
  left: auto;
}
.dropdown_list h4 {
  font-size: 18px;
  font-weight: 600 !important;
  color: #403e57;
}
.dropdown_list .scroll {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dropdownInfo {
  padding-left: 15px;
}
.dropdownInfo h4 {
  font-size: 13px;
  font-weight: 500 !important;
  line-height: 21px;
  margin-bottom: 0;
  margin-top: 0;
  white-space: break-spaces !important;
}
.dropdown_list li.MuiButtonBase-root {
  background: #ebf6ff !important;
  color: #000 !important;
  padding: 10px 15px !important;
}
.dropdownInfo h4 b {
  font-weight: 600;
  margin-right: 5px;
}
body.light p {
  font-weight: 400 !important;
}
.dropdownInfo p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0;
}
.text-sky {
  color: #0858f7 !important;
  font-weight: 500 !important;
}

.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s ease-in-out;
}
.main .sidebarWrapper .sidebar {
  background: #fff;
  height: 100vh;
  left: 0;
  max-height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 40px;
  position: fixed;
  top: 70px;
  transition: all 0.3s;
  width: 20%;
}
.main .sidebarWrapper.toggle {
  flex: 0 0 0%;
  width: 0%;
}
.main .sidebarWrapper.toggle .sidebar {
  left: -100%;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar {
  width: 3px !important;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;
}
.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar {
  background: #a7aab0 !important ;
}

.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0;
  padding: 10px 15px;
}
.main .sidebarWrapper .sidebar ul li {
  list-style: none;
  margin-bottom: 5px;
}
.main .sidebarWrapper .sidebar ul li button {
  align-items: center;
  border-radius: 10px !important;
  color: #5e5d72 !important;
  font-family: Open Sans, sans-serif !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  justify-content: left;
  padding: 12px 10px !important;
  text-align: left;
  text-transform: capitalize !important;
}
.main .sidebarWrapper .sidebar ul li button.active {
  background: #f1f1f1 !important;
}
.main .sidebarWrapper .sidebar ul li button .icon {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-right: 10px;
  width: 25px;
}
.main .sidebarWrapper .sidebar ul li button.active .icon svg {
  color: #0858f7 !important;
}
.main .sidebarWrapper .sidebar ul li button .icon svg {
  font-size: 22px;
}
.main .sidebarWrapper .sidebar ul li button .arrow {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  width: 25px;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu {
  height: auto;
  opacity: 1;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse {
  height: auto;
  opacity: 1;
  overflow: inherit;
  padding: 10px 0;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.main .sidebarWrapper .sidebar ul .submenu {
  height: 0;
  padding: 0 45px;
  position: relative;
  transition: all 0.3s;
}
.main .sidebarWrapper .sidebar ul .submenu:before {
  background: #0003;
  content: "";
  height: 100%;
  left: 25px;
  position: absolute;
  top: -10px;
  width: 1px;
}
.main .sidebarWrapper .sidebar ul .submenu li {
  list-style: none;
  width: 100%;
}
.main .sidebarWrapper .sidebar ul .submenu li a {
  color: #5e5d72 !important;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  transition: all 0.3s;
}
.main .sidebarWrapper.toggle .sidebar {
  left: -100%;
}
.logoutWrapper {
  padding: 0 25px;
}
.logoutWrapper .logoutBox {
  align-items: center;
  background: #bcd2fd;
  border-radius: 10px;
  display: flex;
  height: 130px;
  justify-content: center;
  overflow: hidden;
  padding: 25px;
  position: relative;
  width: 100%;
}
.logoutWrapper .logoutBox:after,
.logoutWrapper .logoutBox:before {
  background: #0858f7;
  border-radius: 100%;
  content: "";
  opacity: 0.5;
  position: absolute;
}
.logoutWrapper .logoutBox:before {
  height: 70px;
  right: -20px;
  top: -20px;
  width: 70px;
}
.logoutWrapper .logoutBox button {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.logoutWrapper .logoutBox button svg {
  font-size: 18px !important;
  margin-right: 5px;
}
.logoutWrapper .logoutBox:after {
  height: 30px;
  left: 10px;
  top: 20px;
  width: 30px;
}
.main .sidebarWrapper .sidebar ul li button.active .arrow {
  transform: rotate(90deg);
}

/* Dashboard */
.main .content {
  flex: 0 0 80%;
  transition: all 0.3s ease-in-out;
  width: 80%;
}
.main .content.toggle {
  width: 100%;

  flex: 0 0 100%;
}

.right-content {
  padding: 90px 30px 10px;
}
.dashboardBoxWrapper {
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.dashboardBoxWrapper .dashboardBox {
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-around;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: left !important;
  text-transform: capitalize !important;
  width: 48%;
}
.dashboardBoxWrapper .dashboardBox .col1 h4 {
  font-size: 16px;
  font-weight: 600;
}
.dashboardBoxWrapper .dashboardBox .col1 span {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}
.dashboardBoxWrapper .dashboardBox .icon {
  align-items: center;
  background-image: linear-gradient(to bottom right, #0000, #0000004d);
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}
.dashboardBoxWrapper .dashboardBox .icon svg {
  color: #fff;
  font-size: 36px;
  opacity: 0.4;
}
.dashboardBoxWrapper .dashboardBox .chart {
  bottom: 20px;
  left: 20px;
  opacity: 0.05;
  position: absolute;
}
.dashboardBoxWrapper .dashboardBox .chart svg {
  color: #000;
  font-size: 110px;
}
.dashboardBoxWrapper .dashboardBox .bottomEle {
  position: relative;
  top: 15px;
}
.dashboardBoxWrapper .dashboardBox .toggleIcon {
  border-radius: 50% !important;
  color: #00000080;
  cursor: pointer;
  font-size: 22px;
  height: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}
.toggleIcon svg {
  color: #fff !important;
  font-size: 20px !important;
  opacity: 1 !important;
}
.dashboardBoxWrapperRow .box {
  height: 100%;
  width: 100%;
  /* background: #fff; */
}
.graphBox {
  background-image: linear-gradient(#1a50b5, #2a6ff7);
  border-radius: 10px;
  padding: 25px;
}

.graphBox p {
  color: #fff;
  font-size: 13px;
  opacity: 0.7;
}

.card {
  border-radius: 10px;
  margin: 20px 0;
}
.card .hd {
  color: #403e57;
  font-size: 18px;
  font-weight: 700;
}
.cardFilters .col-md-3 h4 {
  color: #403e57;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.cardFilters .col-md-3 .MuiFormControl-root,
.cardFilters .col-md-3 .css-hs8t5g-MuiFormControl-root {
  right: 10px !important;
}

/* For table */
.table .thead-dark th {
  background-color: #1866ee !important;
  border-color: #ffffff1a !important;
  font-size: 13px !important;
}
.table td,
.table th {
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
}
.table tbody td {
  font-size: 14px !important;
  color: #403e57 !important;
  font-weight: 500;
}
table.v-align td {
  vertical-align: middle !important;
}

.table tbody td {
  color: #2f2d3e;
  font-size: 14px !important;
  font-weight: 500;
}
table.v-align td .productBox {
  width: 270px;
}
table td .imgWrapper {
  flex: 0 0 20%;
  width: 20%;
}
table td .imgWrapper .card {
  border-radius: 10px !important;
  overflow: hidden !important;
}
table td .info {
  flex: 0 0 65%;
  width: 65%;
}
table td .info h6 {
  font-size: 14px;
  font-weight: 600;
}
table td .info h6,
table td .info p {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table td .info p {
  color: #5e5d72;
  font-size: 13px;
  line-height: 18px;
}
table td .info h6,
table td .info p {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table td .new,
.table td .old {
  display: block;
  width: 100%;
}
.table td .new,
.table td .old {
  display: block;
  width: 100%;
}
.table tbody .actions button {
  height: 32px !important;
  margin: 0 3px !important;
  min-width: 32px !important;
  width: 32px !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #0000000d !important;
}
/* button view */
.table tbody .actions button.view {
  background: #cb3ce733 !important;
}
.table tbody .actions button.view svg {
  color: #ba3980 !important;
}

/* button edit */
.table tbody .actions button.edit {
  background: #1a9f5333 !important;
}
.table tbody .actions button.edit svg {
  color: #117d1d;
}
/* button delete */
.table tbody .actions button.delete {
  background: #f1113333 !important;
}
.table tbody .actions button.delete svg {
  color: #9e1010 !important;
}

.table tbody .actions button svg {
  font-size: 30px !important;
}
.tableFooter {
  padding-bottom: 20px;
}
.tableFooter .pagination {
  margin-left: auto;
}
.pagination {
  border-radius: 0.25rem;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(25, 118, 210) !important;
}

/* Login pageeeeee */
.full {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.section {
  padding: 45px 0px;
}
.signInPage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.signInPage .shape-bottom {
  bottom: -6px;
  left: 0;
  position: absolute;
  right: 0;
  top: auto;
  z-index: 1;
}
.signInPage:after {
  background-image: linear-gradient(#46277e, #583991);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.signInPage .box {
  width: 400px !important;
  height: auto;
  border-radius: 10px !important;
  position: relative;
  z-index: 100;
  background: #fff;
  margin: auto;
}
.signInPage .box form {
  padding: 20px 30px;
}
.signInPage .box h2 {
  font-size: 25px;
  font-weight: 600;
}
.signInPage .box .form-group {
  margin-bottom: 15px;
}
.border-effect {
  color: #337ab7;
  position: relative;
  text-decoration: none;
}
.signInPage .box .txt {
  font-size: 14px;
  font-weight: 700;
}
.loginWithGoogle {
  color: #000c !important;
  font-weight: 700 !important;
  width: 100%;
}
.loginWithGoogle svg {
  font-size: 20px;
}
.toggleShowPassword {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 15px;
}
.toggleShowPassword svg {
  color: #5e5d72;
  font-size: 22px;
}
.signUpPage .box {
  width: 500px !important;
}

/* Products */
.dashboardBoxWrapperRowV2 .dashboardBox {
  height: 120px !important;
  width: 32%;
}

.slick-slider {
  outline: none !important;
}
.sliderSml .slick-slide {
  padding-right: 10px !important;
}
.sliderSml .slick-slide .item {
  border-radius: 7px !important;
  overflow: hidden;
}
.sliderBig *,
.sliderSml * {
  transition: all 0.2s !important;
}
.sliderBig .item {
  overflow: hidden;
  border-radius: 7px;
  border: 2px dashed #ccc !important;
}
.sliderSml .item {
  overflow: hidden;
  border-radius: 7px;
  border: 1px dashed #000 !important;
  cursor: pointer;
}

.productDetailsSection .productInfo .row {
  margin-bottom: 10px !important;
}
.productDetailsSection .productInfo .icon {
  flex: 0 0 28%;
  width: 28%;
}
.productDetailsSection .productInfo .name {
  color: #fffc !important;
  flex: 0 0 72%;
  font-size: 15px;
  font-weight: 600;
  width: 72%;
}
.productDetailsSection .productInfo .row .col-sm-9 {
  align-items: center;
  display: flex;
}
.productDetailsSection .productInfo .row {
  margin-bottom: 10px !important;
}
.productDetailsSection .productInfo .row .col-sm-9 {
  align-items: center;
  display: flex;
}
.productDetailsSection .productInfo .row .col-sm-9 span {
  font-size: 15px;
  opacity: 0.8 !important;
  padding-left: 20px;
}
.productDetailsSection .productInfo .row .col-sm-9 span .row,
.tags {
  margin-bottom: 0 !important;
}
.tags {
  padding-left: 8px !important;
}
.tags li {
  margin: 3px 5px !important;
}
.tags li span {
  align-items: center;
  background: #121d37 !important;
  border-radius: 5px !important;
  display: flex;
  font-size: 12px !important;
  justify-content: center;
  padding: 3px 10px !important;
}
.ratingSection {
  width: 500px;
}
.ratingSection .ratingrow {
  margin-bottom: 15px !important;
  width: 100%;
}
.ratingSection .ratingrow .col1 {
  display: flex;
  flex: 0 0 15%;
  width: 15%;
}
.ratingSection .ratingrow .col2 {
  flex: 0 0 50%;
  width: 50%;
}
.progress {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  height: 1rem;
  line-height: 0;
}
.ratingSection .ratingrow .progress {
  background-color: #000 !important;
  height: 5px !important;
}
.progress,
.progress-bar {
  display: flex;
  overflow: hidden;
}
.ratingSection .ratingrow .progress .progress-bar {
  background: #edb213 !important;
}
.progress-bar {
  background-color: #007bff;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: width 0.6s ease;
  white-space: nowrap;
}
.ratingSection .ratingrow .col3 {
  display: flex;
  flex: 0 0 25%;
  padding-left: 20px;
  width: 25%;
}
.reviewsSection {
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
}
.reviewsSection .reviewsRow {
  background: #071739;
  border-radius: 10px !important;
  height: auto;
  margin: 15px 0;
  padding: 35px;
  width: 100%;
}
.userImg.lg {
  height: 60px !important;
  width: 60px !important;
}
.userInfo h6 {
  margin-bottom: 0;
}

.reviewsSection .reviewsRow .btn-big {
  font-size: 14px !important;
  padding: 7px 20px !important;
}
.reviewsSection .reviewsRow .btn-big svg {
  font-size: 18px !important;
}
.btn-big svg {
  font-size: 25px !important;
  margin-left: 7px;
}
.reviewsSection .reviewsRow.reply {
  margin-left: auto;
  width: 90%;
}
.reviewForm {
  width: 100%;
}
.reviewForm textarea {
  background: #132345 !important;
  border: 1px solid #0d1a36 !important;
  border-radius: 10px;
  color: #ffffffb3;
  height: 200px;
  outline: #ffdead !important;
  padding: 15px;
  width: 100%;
}

/* Product Upload */
.form .form-group h6 {
  font-size: 13px;
  margin-bottom: 10px;
}
.form .form-group {
  margin-bottom: 25px;
}
.form .form-group input,
.form .form-group textarea {
  background: #fafafa;
  border: 1px solid #0000001a !important;
  border-radius: 5px;
  font-size: 14px;
  height: 60px;
  outline: none !important;
  padding-left: 15px;
  width: 100%;
}
.form .form-group textarea {
  height: 120px;
  padding-top: 15px;
}
.imgUploadBox {
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}
.imgUploadBox .uploadBox {
  align-items: center;
  background: #fafafa;
  border: 1px dashed #0000004d;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 150px !important;
  justify-content: center;
  padding: 0;
  position: relative;
  transition: all 0.3s;
  width: 150px;
}
.imgUploadBox .uploadBox .remove {
  align-items: center;
  background: #d32f2f;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: -7px;
  top: -7px;
  width: 20px;
  z-index: 100;
}
.imgUploadBox .uploadBox .remove svg {
  color: #fff;
  font-size: 18px;
}
.imgUploadBox .uploadBox .box {
  border-radius: 7px;
  height: 150px !important;
  overflow: hidden;
  padding: 2px;
  width: 100%;
}
.imgUploadBox .uploadBox .box .lazy-load-image-background {
  height: 100% !important;
  width: 100% !important;
}
.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
}
.lazy-load-image-background.blur {
  filter: blur(15px);
}
.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity 0.3s;
}
.lazy-load-image-background.blur > img {
  opacity: 0;
}
.imgUploadBox .uploadBox img {
  height: 100%;
  object-fit: cover;
}
.imgUploadBox .uploadBox input {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}.imgUploadBox .uploadBox .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}
.imgUploadBox .uploadBox .info svg {
  font-size: 50px;
  opacity: .2;
}.imgUploadBox .uploadBox .info h5 {
  font-size: 15px;
  opacity: .5;
  text-align: center;
}
/* order page */
.orderTable td,.orderTable th {
  white-space: nowrap
}
.orderTable .img {
  width: 60px;
  height: 40px;
  overflow: hidden;
}
.orderTable .img img {
  width: 100%;
  /* height: 100%;
  object-fit: cover; */
}
.tableFooter p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}
.productModal h4 {
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
.productModal .actions button {
  color: #4e4545 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  font-size: 10px !important;
}
.productModal .actions button svg {
  font-size: 15px !important;
}
.productModal .actions button.nonOutline {
  border: none !important; /* No border for this button */
}
.productModal .productChecklist ul li {
  list-style: none;
  font-size: 12px;
}
.productModal .productChecklist ul li svg {
  color: #16b858 !important;
  /* width: 100%; */
  margin-right: 10px;
}
.productModal .productChecklist {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
.productModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
  max-width: 900px !important;
  width: 900px !important;
  overflow: auto;
}
.close_ {
  background: #f1f1f1 !important;
  border-radius: 50% !important;
  height: 40px !important;
  min-width: 40px !important;
  position: absolute !important;
  right: 10px;
  top: 10px;
  width: 40px !important;
}
.close_, .close_ svg {
  color: #000 !important;
}
.close_ svg {
  font-size: 22px;
  opacity: .7;
}
.text-blue {
  color: #4f73e7!important
}
.cursor {
  cursor: pointer;
}